@import url("../css/Var.css");

.icon-proyects{
    width: 35px;
    height: 35px;
    margin-right: 20px;
}

@media screen and (max-width: 1024px) {
    .icon-proyects{
        width: 35px;
        height: 35px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 823px) {
    .icon-proyects{
        width: 35px;
        height: 35px;
        margin-right: 0px;
    }
}

@media screen and (max-width: 768px) {
    .icon-proyects{
        width: 35px;
        height: 35px;
        margin-right: 0px;
      
    }    
}

