@import url("../css/Var.css");

.icon-proyects{
    width: 35px;
    height: 35px;
    margin-right: 20px;
}

@media screen and (min-width: 1329px) and (max-width: 1439px) {
    .icon-proyects{
        width: 35px;
        height: 35px;
        margin-right: 20px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1328px) {
    .icon-proyects{
        width: 35px;
        height: 35px;
        margin-right: 20px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .icon-proyects{
        width: 35px;
        height: 35px;
        margin-right: 0px;
    }
}

@media screen and (min-width: 481px) and (max-width: 767px){
    .icon-proyects{
        width: 35px;
        height: 35px;
        margin-right: 16px;
    }
}


@media screen and (min-width: 320px) and (max-width: 480px){
    .icon-proyects{
        width: 35px;
        height: 35px;
        margin-right: 16px;
    }
}

