@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

:root {
  --white: white;
  --aqua: #05fcc6;
  --black: #171a1b;
  --red: #ff5f56;
  --yellow: #ffbd2e;
  --green: #27c93f;
  --black2: #202226;
  --purple: #7000ff;
  --gray: #4a4a4a;
}
