@import url('../css/Var.css');

.container-aboutme {
  width: 1440px;
  height: 660px;
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  margin: 0 auto;
  margin-bottom: 90px;
}

.container-title-about {
  width: 1440px;
  margin: 0 auto;
  position: relative;
  padding-left: 48px;
  display: grid;
  grid-template-columns: 1fr 1fr;
 
}

.container-title-about h1 {
  font-size: 4rem;
  color: var(--white);
  margin-bottom: 20px;
}

.container-aboutme-title {
  position: relative;
  padding-left: 48px;
  width: 100%;
}

.container-aboutme-title h1 {
  width: 100%;
  font-size: 4rem;
  color: var(--white);
  margin-bottom: 20px;
}

.container-aboutme-description {
  width: 88.5%;
  height: 500px;
  position: relative;
  top: 35px;
  border-radius: 20px 20px 0px 0px;
  border: 1px solid var(--gray);
  background-color: var(--black);
}

.container-aboutme-details {
  width: 100%;
  height: 95%;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.container-aboutme-index {
  width: 100%;
}

.container-aboutme-index .container-arrow {
  width: 20px;
  height: 20px;
  position: relative;
  top: 4px;
}

.container-aboutme-index h3 {
  color: var(--white);
  font-size: 2rem;
  padding-left: 15px;
}

.container-aboutme-index p {
  color: var(--white);
  display: flex;
  left: 40px;
  top: 3px;
  font-size: 1.4rem;
  margin-left: 60px;
  margin-top: 5px;
}

.container-aboutme-index img {
  width: 15px;
  height: 15px;
  position: relative;
  right: 5px;
}

.container-html {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 41px;
  font-size: 1.5rem;
  color: var(--white);
}

.container-html span {
  color: var(--purple);
}

.container-html small {
  color: var(--aqua);
  font-size: 1.5rem;
}

.container-html p {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.container-aboutme-image {
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 34px;
  padding-left: 0px;
  height: 400px;
 
}

.container-aboutme-image .about-me-skills{
  width: 100%;
  gap: 60px;
  display: flex;
}


.container-aboutme-image .about-me-skills .container-skill-logo span{
  text-align: center;
  color: white;
  font-size: 1.6rem;
  margin-bottom:10px;
}

.container-aboutme-image .about-me-skills .container-skill-logo{
  display: flex;
  flex-direction: column;
}
.about-me-skill-second{
  width: 100%;
  display: flex;
  gap: 60px;
}

.about-me-skill-second .container-skill-logo{
  display: flex;
  flex-direction: column;
}

.about-me-skill-second .container-skill-logo span{
  text-align: center;
  color: white;
  font-size: 1.6rem;
  margin-bottom:10px;
}

.container-aboutme-image .about-me-skills img{
  width: 65px;
  height: 65px;
  
}

.container-aboutme-image .about-me-skill-second img{
  width: 65px;
  height: 65px;
  
}

#hidden{
  visibility: hidden;
 }


@media screen and (min-width: 1329px) and (max-width: 1439px) {
  .container-aboutme {
    width: 100%;
    height: 750px;
  }
  .container-title-about {
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding-left: 20px;
  }

  .container-aboutme-title {
    padding-left: 20px;
    width: 89%;
  }

  .container-window-experiencie {
    width: 250px;
    height: 235px;
    border-radius: 20px 20px 0px 0px;
    background: linear-gradient(180deg, #171a1b 0%, rgba(23, 26, 27, 0) 100%);
    opacity: 0.8;
  }

  .container-aboutme-title h1 {
    width: 100%;
    height: 60px;
    font-size: 3.5rem;
  }

  .container-aboutme-description {
    width: 100%;
    height: 500px;
  }

  .container-aboutme-index .container-arrow {
    width: 15px;
    height: 15px;
  }

  .container-aboutme-index h3 {
    font-size: 1.6rem;
  }

  .container-aboutme-index p {
    font-size: 1.5rem;
    margin-left: 20px;
  }

  .container-aboutme-index img {
    width: 17px;
    height: 17px;
  }

  .container-html {
    padding: 20px;
    font-size: 1.5rem;
  }

  .container-html small {
    color: var(--aqua);
    font-size: 1.5rem;
  }

  #hidden{
    visibility: hidden;
   }
}

@media screen and (min-width: 1024px) and (max-width: 1328px) {
  .container-aboutme {
    width: 100%;
    height: 750px;
  }

  .container-aboutme-title {
    padding-left: 20px;
    width: 94%;
  }

  .container-title-about {
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding-left: 20px;
  }

  .container-title-about h1 {
    font-size: 3.5rem;
    color: var(--white);
    margin-bottom: 20px;
  }

  .container-aboutme-title h1 {
    width: 100%;
    height: 60px;
    font-size: 3.5rem;
  }

  .container-aboutme-description {
    width: 100%;
    height: 500px;
  }

  .container-aboutme-index .container-arrow {
    width: 15px;
    height: 15px;
  }

  .container-aboutme-index h3 {
    font-size: 1.6rem;
  }

  .container-aboutme-index p {
    font-size: 1.5rem;
    margin-left: 20px;
  }

  .container-aboutme-index img {
    width: 17px;
    height: 17px;
  }

  .container-html {
    padding: 20px;
    font-size: 1.5rem;
  }

  .container-html small {
    color: var(--aqua);
    font-size: 1.5rem;
  }
  .container-window-experiencie {
    width: 205px;
    height: 215px;
  }
  
  .container-window-experiencie h3 {
    font-size: 1.6rem;
  }
  
  .container-window-experiencie h5 {
    font-size: 1.5rem;
  }

  .container-aboutme-image{
    width: 100%;
   
  }
  
  .container-aboutme-image .about-me-skills {
    gap: 0px;
    display: flex;
    justify-content: space-around;
   
  }

  .container-aboutme-image .about-me-skill-second {
   
    gap: 0px;
    display: flex;
    justify-content: space-around;
  }

  .title-skill{
    margin-left: 50px;
  }

#hidden{
 visibility: hidden;
}
}





@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container-aboutme {
    width: 100%;
    height: 1200px;
    display: flex;
    flex-direction: column;
  }

  .container-title-about {
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding-left: 10px;
  }

  .container-aboutme-title {
    padding-left: 10px;
    width: 98%;
  }

  .container-title-about .title-skill{
    display: none;
  }


  .container-window-experiencie {
    width: 220px;
    height: 215px;
  }

  .container-aboutme-description {
    width: 100%;
    height: 500px;
  }

  .container-aboutme-index p {
    margin-left: 40px;
  }

  .container-html {
    padding: 15px;
  }
  .container-aboutme-image {
    position: relative;
    align-items: center;
    padding: 0px;
    margin-top: 70px;
  }
  #hidden{
    visibility: hidden;
   }

   .container-aboutme-image .about-me-skills {
   gap: 0px;
    display: flex;
    justify-content: space-around;
   }

   .about-me-skill-second {
    gap: 0px;
    display: flex;
    justify-content: space-around;
}

   .container-aboutme-image .about-me-skills img {
    width: 80px;
    height: 80px;
}

.container-aboutme-image .about-me-skills .container-skill-logo span {
 
  font-size: 2.0rem;
  
}

.container-aboutme-image .about-me-skill-second img {
  width: 80px;
    height: 80px;
}

.about-me-skill-second .container-skill-logo span {
  font-size: 2.0rem;
}
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .container-aboutme {
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .container-title-about {
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding-left: 10px;
    top: 50px;
  }

  .container-title-about h1 {
    font-size: 3.5rem;
    color: var(--white);
    margin-bottom: 20px;
  }

  .container-title-about .title-skill{
    display: none;
  }
  
  .container-aboutme-title {
    position: relative;
    padding-left: 10px;
    width: 98%;
    margin-top: 40px;
  }

  .container-aboutme-title h1 {
    width: 100%;
    font-size: 3.5rem;
  }

  

  .container-aboutme-description {
    width: 100%;
    height: 500px;
    margin-bottom: 35px;
  }

  .container-aboutme-details {
    width: 100%;
    height: 95%;
    display: grid;
    grid-template-columns: 1fr;
  }

  .container-aboutme-index {
    display: none;
  }

  .container-html {
    padding: 15px;
  }

  .container-aboutme-image {
    padding: 0px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  .container-window-experiencie {
    width: 250px;
    height: 250px;
  }

  .container-window-experiencie h3 {
    font-size: 1.5rem;
  }

  .container-window-experiencie h5 {
    font-size: 1.2rem;
  }

  .container-aboutme-image {
    flex-direction: column;
}

.container-aboutme-image .about-me-skills {
  gap: 0px;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.about-me-skill-second {

  justify-content: space-evenly;
 gap: 0px;
}

#hidden{
  visibility: hidden;
 }
 
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .container-aboutme {
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .container-title-about {
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding-left: 5px;
    top: 50px;
  }

  .container-title-about h1 {
    font-size: 3.5rem;
    color: var(--white);
    margin-bottom: 20px;
   width: 200px;
  }

  .container-title-about .title-skill{
    display: none;
  }

  .container-aboutme-title {
    position: relative;
    padding-left: 5px;
    width: 98%;
    margin-top: 40px;
  }

  .container-aboutme-title h1 {
    width: 100%;
    font-size: 3.5rem;
  }

  .container-aboutme-description {
    width: 100%;
    height: auto;
    margin-bottom: 35px;
  }

  .container-aboutme-details {
    width: 100%;
    height: 95%;
    display: grid;
    grid-template-columns: 1fr;
  }

  .container-aboutme-index {
    display: none;
  }

  .container-html {
    padding: 15px;
  }

  .container-aboutme-image {
    padding: 0px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .container-window-experiencie {
    width: 250px;
    height: 250px;
  }

  .container-window-experiencie h3 {
    font-size: 1.5rem;
  }

  .container-window-experiencie h5 {
    font-size: 1.2rem;
  }

  .container-aboutme-image .about-me-skills img {
    width: 40px;
    height: 40px;
}

.container-aboutme-image .about-me-skills .container-skill-logo span {
 
  font-size: 1.1rem;
  
}

.container-aboutme-image .about-me-skill-second img {
  width: 40px;
    height: 40px;
}

.about-me-skill-second .container-skill-logo span {
  font-size: 1.1rem;
}


  .container-aboutme-image {
    flex-direction: column;
    margin-top: 0px;
}

.container-aboutme-image .about-me-skills {
  gap: 0px;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.about-me-skill-second {

  justify-content: space-evenly;
 gap: 0px;
}

#hidden{
  visibility: hidden;
 }
}
