@import url('../css/Var.css');

.container-skill {
  width: 1440px;
  height: 660px;
  margin: 0 auto;
}


.container-carrusel {
  height: 400px;
  position: relative;
  top: 50px;
}


@media screen and (min-width: 1024px) and (max-width: 1328px) {
  .container-skill {
  width: 100%;
}

.container-carrusel {
  width: 100%;
  height: 400px;
  position: relative;
  top: 50px;
  display: flex;
  align-items: center;
}
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .container-skill {
    width: 100%;
    height: 660px;
    margin: 0 auto;
  }
  
  
  .container-carrusel {
    width: 100%;
    height: 450px;
    position: relative;
   
  }
}


@media screen and (min-width: 481px) and (max-width: 767px) {
  .container-skill {
    width: 100%;
    height: auto;
   position: relative;
   top: 40px;
  }
  
  
  .container-carrusel {
    width: 100%;
    height: auto;
  }
}


@media screen and (min-width: 320px) and (max-width: 480px){
  .container-skill {
    width: 100%;
    height: auto;
   position: relative;
   top: 40px;
  }
  
  
  .container-carrusel {
    width: 100%;
    height: auto;
  }
}