@import url('../css/Var.css');

.container {
  width: 1440px;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
}

#nav{
  margin-top: 75px;
}

.container-title {
  position: relative;
  width: 650px;
  height: 225px;
  margin-left: 50px;
  margin-top: 70px;
}

.container-title .container-hello {
  font-size: 4.5rem;
  color: var(--aqua);
  font-weight: 100;
}

.container-title .container-name {
  font-size: 4.5rem;
  color: var(--white);
  font-weight: 700;
}

.container-title .container-profession {
  -webkit-text-stroke: 2px var(--aqua);
  color: transparent;
  font-size: 6rem;
}

.container-title p {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 44px;
  border-radius: 10px;
  width: 180px;
  height: 40px;
  background-color: var(--aqua);
  margin-top: 30px;
}

.container-title a {
  text-decoration: none;
  font-size: 2rem;
  color: rgb(6, 110, 110);
  cursor: pointer;
  font-weight: 600;
  transition: all 1.1s ease;
}

.container-title a:hover {
  color: var(--white);
  transition: all 0.9s ease;
}

.container-window {
  width: 93%;
  height: 400px;
  background-color: var(--black);
  display: grid;
  grid-template-rows: 1fr 14fr;
  border-radius: 20px 20px 0px 0px;
  border: 1px solid var(--gray);
}

.container-circle {
  width: 85%;
  height: 25px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 10px;
}

.container-window .circle-red {
  width: 10px;
  height: 10px;
  border-radius: 30px;
  background-color: var(--red);
}

.container-window .circle-yellow {
  width: 10px;
  height: 10px;
  border-radius: 30px;
  background-color: var(--yellow);
}

.container-window .circle-green {
  width: 10px;
  height: 10px;
  border-radius: 30px;
  background-color: var(--green);
}

.container-web {
  width: 85%;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-web .url-name {
  width: 300px;
  text-align: center;
  background-color: var(--black2);
  border-radius: 30px;
  color: var(--white);
  font-size: 1.1rem;
}

.container-personal {
  width: 100%;
  height: 375px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.container-data {
  width: 370px;
  height: 270px;
  display: flex;
  flex-direction: column;
}

.container-personal .container-about {
  height: 185px;
  padding-left: 30px;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.container-personal .container-about .purple {
  color: var(--purple);
  margin-bottom: 20px;
}

.container-personal .container-about span {
  color: var(--white);
}

.container-personal .container-about .aqua {
  color: var(--aqua);
  margin-left: 30px;
  margin-bottom: 5px;
}

.container-image {
  width: 90%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-image img {
  width: 200px;
  height: 200px;
}


@media screen and (max-width: 1024px) {
  .container {
    width: 1024px;
    height: 550px;
    margin-top: 75px;
  }
  
  .container-title {
    width: 500px;
    height: 225px;
    margin-left: 20px;
  }
  
  .container-title .container-hello {
    font-size: 3.5rem;
  }
  
  .container-title .container-name {
    font-size: 3.5rem;
  }
  
  .container-title .container-profession {
    font-size: 4.5rem;
  }
  
  .container-title p {
    margin-top: 5px;
  }
  
  
  .container-window {
    width: 96%;
    height: 391px;
  }
  
  
  
  .container-web .url-name {
    width: 250px;
    font-size: 1.3rem;
  }
  
  .container-personal {
    height: 369px;
  }
  
  .container-data {
    width: 300px;
    height: 270px;
  }
  
  .container-personal .container-about {
    padding-left: 10px;
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  
  .container-personal .container-about .aqua {
    margin-left: 15px;
    margin-bottom: 5px;
  }
  
  .container-image {
    width: 100%;
    height: 300px;
    
  }
  .container-image img {
    width: 170px;
    height: 170px;
  }
}


@media (max-width: 768px){
  .container {
    width: 768px;
    height: 900px;
    display: flex;
   flex-direction: column;
  }
  
  .container-title {
    position: relative;
    width: 730px;
    height: 320px;
    margin-left: 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .container-title .container-hello {
    font-size: 4rem;
  }
  
  .container-title .container-name {
    font-size: 4rem;
  }
  
  .container-title .container-profession {
    font-size: 5rem;
  }

  
  .container-window {
    width: 95.5%;
    margin-left: 20px;
    margin-top: 45px;
    height: 400px;
    background-color: var(--black);
    display: grid;
    grid-template-rows: 1fr 14fr;
    border-radius: 20px 20px 0px 0px;
    border: 1px solid var(--gray);
  }
  
  
}

@media screen and (max-width: 468px) {
  .container {
    width: 468px;
    height: 900px;
    display: flex;
  }
  
  .container-title {
    width: 450px;
    height: 225px;
    margin-left: 10px;
    margin-top: 40px;
  }
  
  .container-title .container-hello {
    font-size: 3.5rem;
  }
  
  .container-title .container-name {
    font-size: 3.5rem;
  }
  
  .container-title .container-profession {
    font-size: 4rem;
  }
  
  .container-title p {
    width: 120px;
  }
  
  .container-title a {
    font-size: 1.5rem;
  }
  
  .container-window {
    width: 96%;
   position: relative;
   right: 10px;
  }
  
  .container-circle {
    width: 85%;
  }
  
  .container-web .url-name {
    width: 200px;
  }
  
  .container-personal {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column-reverse;
  }
  
  .container-data {
    width: 402px;
    height: 270px;
  }
  
  .container-personal .container-about {
    padding-left: 10px;
  }
  
  .container-personal .container-about .aqua {
    color: var(--aqua);
    margin-left: 15px;
    margin-bottom: 5px;
  }
  
}


@media screen and (max-width: 425px) {
  .container {
    width: 425px;
  }

  #nav{
    margin-top: 1px;
  }

  .container-title {
    width: 405px;
    height: 200px;
   
  }

  .container-window {
    height: 600px;
}
  
  .container-title .container-hello {
    font-size: 3.0rem;
  }
  
  .container-title .container-name {
    font-size: 3.0rem;
  }
  
  .container-title .container-profession {
    font-size: 3.5rem;
  }
  
  .container-title p {
    width: 110px;
    height: 30px;
  }
  
  .container-title a {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 375px) {
  .container {
    width: 375px;
    
  }
  
  .container-title {
    width: 360px;
    margin-left: 8px;
   
  }
  .container-title .container-profession {
    font-size: 3.3rem;
  }
  
  .container-title p {
    width: 110px;
    height: 30px;
  }
  
  .container-title a {
    font-size: 1.3rem;
  }

  .container-web {
    width: 89%;
}

  .container-window {
    margin-left: 18px;
}

.container-circle {
  width: 85%;
}

.container-web .url-name {
  width: 170px;
}
.container-personal {
  width: 360px;
}
.container-data {
  width: 360px;
}
}

@media screen and (max-width: 412px){
  .container {
    width: 412px;
    
  }
  
  .container-title {
    width: 383px;
    margin-left: 5px;
   
  }

  .container-web {
    width: 89%;
}

  .container-window {
    width: 93%;
    margin-left: 16px;
}

.container-data {
  width: 382px;
}
}